<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-6 col-xs-offset-3" style="margin-top:3%">

        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i> Recover Your Password Here</div>
          <div class="panel-body">

            <form>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
                <input type="email" class="form-control" id="email" placeholder="Enter Your E-Mail ID">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </span>
                <input type="password" class="form-control" id="pwd" placeholder="Enter Your New Password">
              </div>

              <br>
              <button type="button" class="btn btn-primary">
                <i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> SAVE</button>
              <button type="button" class="btn btn-success">
                <i class="fa fa-ban fa-fw" aria-hidden="true"></i> CANCEL</button>
            </form>


          </div>
          <div class="panel-footer">Copy Right @2018</div>
        </div>

      </div>
    </div>
  </div>
</div>
