<div class="main-container">

  <div class="title">
    <h1>Sign In</h1>
  </div>
  <div class="login-container">
    <div class="left-part"></div>
    <div class="right-part">
      <div class="formBox">
        <form #loginForm="ngForm" novalidate>

          <span class="ui-float-label">
            <input type="text" name="username" id="username" pInputText [(ngModel)]="username" autocomplete="off" />
            <label for="username">Username</label>
          </span>

          <span class="ui-float-label">
            <input type="password" pPassword name="password" id="password" placeholder="......." [(ngModel)]="password" autocomplete="off"
            />
            <label for="password">Password</label>
          </span>


          <!-- <input type="submit" name="" value="Sign In" /> -->

          <!-- <div class="submit-button" (click)="login()">
              <div class="effect-submit-button"></div>
              <span> Sign In </span>
            </div> -->
          <button pButton type="button" label="Sign In" (click)="login()"></button>
          <div class="inner-part">
            <a href="#">Forget Password</a>
            <a href="#">SignUp</a>
          </div>

          <!-- <ui-switch [(ngModel)]="enable" name="enable"></ui-switch>
            Keep me signed in -->



        </form>
      </div>
    </div>
  </div>
  <p>@2018 Prime login Form. All Rights reserved | Design by MIT Technology Private Limited</p>
</div>