<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-12 col-lg-offset-0" style="margin-top:3%">
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-registered" aria-hidden="true"></i>Sign Up</div>
          <div class="panel-body">
            <form>
              <fieldset>

                <div class="col-lg-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                      <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control" name="username" id="username" placeholder="UserName">
                  </div>

                  <br>

                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                      <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control" name="FirstName" id="FirstName" placeholder="FirstName">
                  </div>

                  <br>

                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                      <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control" name="LastName" id="LastName" placeholder="LastName">
                  </div>

                  <br>

                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                      <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                    <input type="email" class="form-control" placeholder="Email" name="yourEmail" id="yourEmail">
                  </div>

                  <br>


                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                      <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                  </div>

                  <br>

                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                      <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                    <input type="password" name="verifypassword" id="verifypassword" class="form-control" placeholder="RePassword">
                  </div>

                  <br>

                  <div class="form-group">

                    <div data-toggle="collapse" data-target="#passPolicy">Check Password Policy
                      <span class="caret"></span>
                    </div>
                  </div>
                  <div class="form-group" style="margin-bottom: 0px!important">

                    <div id="passPolicy" class="col-sm-8 col-md-8 col-lg-7 col-xs-10 collapse mobilePad" style="padding-right: 17px;">
                      <ul type="disc" style="padding-left: 0px;">
                        <li>Your Password must have minimum 6 characters.</li>
                        <li>Your Password must contain at least one number, one uppercase, lowercase & special character.</li>
                        <li>Your Password must not contain your Username.</li>
                        <li>Your Password must not contain Character or Number repetition.</li>

                      </ul>
                    </div>
                  </div>


                </div>

                <div class="col-lg-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                      <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control" name="roleCode" id="roleCode" placeholder="roleCode">
                  </div>
                  <br>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                      <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Address" name="Address" id="Address" placeholder="Address">
                  </div>
                  <br>

                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                      <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                    <input type="text" name="mobileNo" id="mobileNo" class="form-control" placeholder="mobileNo">
                  </div>
                  <br>

                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                      <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                    <input type="text" name="phoneNo" id="phoneNo" class="form-control" placeholder="phoneNo">
                  </div>

                  <br>
                </div>

                <br>

                <div class="col-lg-4">
                  <button type="button" class="btn btn-primary">
                    <i class="fa fa-registered" aria-hidden="true"></i> REGISTER</button>
                  <button type="button" class="btn btn-success">
                    <i class="fa fa-refresh" aria-hidden="true"></i> RESET</button>
                  <button type="button" class="btn btn-danger">
                    <i class="fa fa-ban" aria-hidden="true"></i> CANCEL</button>

                </div>


              </fieldset>

            </form>


          </div>
        </div>

      </div>
    </div>
  </div>
</div>
